<header class="site-header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button (click)="toggleNavBar()" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="brand-name" [routerLink]="['/']"><span>Pizza 42</span></a>
        <a class="no-basic hiring animated bounce hidden-sm hidden-xs hidden-md" href="https://www.linkedin.com/in/thomas-zayouna-3512b431/">I'm hirable</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse" [ngClass]="{ in: navBarOpen }">
        <ul class="nav navbar-nav navbar-left no-basic">
          <li class="li-products">
            <a [routerLink]="['/products']" routerLinkActive="active" class="btn btn-link">Products</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="li-docs no-basic" *ngIf="!user">
            <button class="btn btn-primary" type="button" (click)="performLogin()">Login / Sign Up</button>
          </li>
          <li *ngIf="user" class="avatar-wrapper">
            <img src="{{ user.picture }}" >
            <span>Hi {{ user.nickname }}</span>
          </li>
          <li *ngIf="user">
            <button *ngIf="user" (click)="performLogout()" class="btn btn-primary">Logout</button>
          </li>
          <li class="li-docs no-basic">
            <a [routerLink]="['/order']" class="cart-link">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
