.brand-name {
  font-size: 18px;
  padding: 15px
}

.li-products a {
  padding-top: 5px;
  padding-bottom: 0;
}

.cart-link {
  padding-top: 5px;
  i {
    font-size: 30px;
  }
}

.avatar-wrapper {
  padding: 0 20px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  span {
    display: inline-block;
  }
}
