<footer class="sc-footer" role="contentinfo">
  <div class="container">
    <div class="sc-footer__grid">
      <div class="sc-footer__column sc-footer__column--grid">
      </div>
      <div class="sc-footer__column sc-footer__column--grid">
      </div>
      <div class="sc-footer__column sc-footer__column--grid">
      </div>
      <div class="sc-footer__column sc-footer__column--grid">
      </div>
      <div class="sc-footer__column sc-footer__column--contact">
      </div>
    </div>
    <div class="sc-footer__colophon">
      <div class="sc-footer__column">
        <ul class="list-inline text-right sc-footer__list">
          <li class="sc-footer__list-item"><a class="sc-footer__link" href="https://auth0.com/privacy">Privacy Policy</a>
          </li>
          <li class="sc-footer__list-item"><a class="sc-footer__link" href="https://auth0.com/terms">Terms of Service</a>
          </li>
          <li class="sc-footer__list-item"><span>&copy; 2018 Pizza 42&reg; Inc. All Rights Reserved.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
