<div *ngIf="cart.length === 0">
  <section class="jumbotron">
    <h1>Your cart is empty</h1>
    <p>Click the button see our wide range of pizzas.</p>
    <a class="btn btn-success btn-lg" [routerLink]="['/products']">Start shopping something to eat</a>
  </section>
</div>
<div *ngIf="cart.length > 0" class="flex-table">
  <table class="table table-fixed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pizza of cart">
      <td>{{ pizza.name }}</td>
      <td>{{ pizza.description }}</td>
      <td>{{ pizza.price | currency }}</td>
    </tr>
    <tr>
      <td colspan="2">
        TOTAL
      </td>
      <td>
        {{ getTotal() | currency }}
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center actions">
    <button type="button" class="btn btn-success btn-lg" (click)="placeOrder()" *ngIf="user" [disabled]="!user.email_verified">
      Order
    </button>
    <div *ngIf="user && !user?.email_verified" class="d-inline">
      You have to verify your email address before placing an order
    </div>
    <button type="button" class="btn btn-success btn-lg" (click)="performLogin()" *ngIf="!user">Please login to create an order
    </button>
  </div>
</div>
