<div>
  <table class="table table-fixed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pizza of pizzas">
      <td>{{ pizza.name }}</td>
      <td>{{ pizza.description }}</td>
      <td>{{ pizza.price | currency }}</td>
      <td>
        <span>{{ getCount(pizza) }}</span>
        <button type="button" [disabled]="getCount(pizza) === 0" class="btn btn-primary" (click)="removeFromCart(pizza)">
          -
        </button>
        <button type="button" class="btn btn-primary" (click)="addToCart(pizza)">
          +
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
